body {
    background-color: white;
}

/* iPhone X Ratio 19.5:9 Left-Aligned

.phoneFrame {
    height: 682.5px;
    width: 315px;
    background-color: white;
    border-radius: 15px;
    padding-top: 7.5px;
}

.phoneScreen {
    background-color: black;
    height: 672.5px;
    width: 300px;
    margin-left: 7.5px;
    border-radius: 15px;
}

*/

/* Average Phone Ratio 16:9 Left-Aligned

.phoneFrame {
    height: 640px;
    width: 360px;
    background-color: white;
    border-radius: 15px;
    padding-top: 50px;
}

.phoneScreen {
    background-color: black;
    height: 580px;
    width: 345px;
    margin-left: 7.5px;
}

*/

/* Average Phone Ratio 16:9 Center-Aligned */

.phoneFrame {
    background-color: black;
    border-radius: 15px;
    padding-top: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 35em;
    width: 19.68em;
    margin-top: -20em;
    margin-left: -9.84em;
}

.phoneScreen {
    background-image: url('images/green2.jpg');
    /** background-position: -210px 0px; green2 **/
    /** background-position: 0px 0px; blue2 **/
    /** background-position: -300px 0px; red1 **/
    /* background-position: -430px 0px; blue3 */
    /* background-position: -250px 0px; pink1 */
    /* background-position: -210px 0px; green1 */
    background-position: -210px 0px;
    background-size: cover;
    padding-top: 10px;
    height: 31em;
    width: 18.68em;
    margin-left: .5em;
}

/* Divs */

.topDiv {
    height: 120px;
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid white;
    margin: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.topDiv:hover {
    background-color: rgba(123, 159, 48, .5);
}

h3.date {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}

h3.usage {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    padding-top: 0px;
    letter-spacing: 1.5;
    margin-left: 25px;
}

.weatherIcon {
    height: 110px;
    float: right;
    margin-top: -80px;
    margin-right: 10px;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 2px;
    color: white;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    height: 40px;
    border: 1px solid white;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.00);
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover {
    background-color: rgba(123, 159, 48, .5);
}

.div6 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid white;
}

.socialMedia {
    height: 60%;
    margin-top: 8px;
    margin-left: 15px;
}

.socialMediaText {
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: 50px;
    margin-top: -17px;
}

.notificationButton {
    width: 15px;
    height: 13px;
    float: right;
    margin-top: -32px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.00);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 8px;
    padding-top: 3px;
    border-radius: 5px;
    border: 1px solid white;
}

.tube, .snap {
    opacity: .9;
}

.bottomDiv {
    height: 47px;
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid white;
    margin: 10px;
    border-radius: 5px;
}

.bottomDiv:hover {
    background-color: rgba(123, 159, 48, .5);
}

h3.bottomDivText {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
    padding-top: 0px;
    letter-spacing: 1.7;
}

.infoBarIcon {
    height: 15px;
    float: right;
}

.icon2 {
    margin-left: 3px;
    margin-right: 1px;
}

.icon1 {
    margin-right: 8px;
}